!!! 5
%html
  %head
    %title three.js canvas - geometry - cube
      
    %link{:type=>"text/css", :href=>"/development-bundle/themes/base/jquery.ui.all.css", :rel=>"stylesheet"}
    %link{:type=>"text/css", :href=>"/css/style.css", :rel=>"stylesheet"}
    %script{:type=>"text/javascript", :src=>"js/jquery-1.6.2.min.js"}    
    %script{:type=>"text/javascript", :src=>"js/cube.js"}
  %body
    %button
      Kamera drehen
    %button
      CVS Export
    %a{:href=> "/"}
      zurück
    %a{:href=> "/positioning"}
      Positioning  
    
    %script{:type=>"text/javascript", :src=>"../js/Tween.js"}
    %script{:type=>"text/javascript", :src=>"../Three.js"}
    %script{:type=>"text/javascript", :src=>"../js/RequestAnimationFrame.js"}
    %script{:type=>"text/javascript", :src=>"../js/Stats.js"}
    %script{:type=>"text/javascript", :src=>"../js/three_helper.js"}
    %script{:type=>"text/javascript", :src=>"fonts/helvetiker_regular.typeface.js"}
    %script{:type=>"text/javascript", :src=>"fonts/gentilis_regular.typeface.js"}      
    %script{:type=>"text/javascript", :src=>"js/OLAP.js"}      
    :javascript
      cubes = [];
      #{js = ""
         @cubes.each {|col| js << "cubes.push('#{col}');\n" }
        js}
      init(cubes);
      animate();
