!!! 5
%html
  %head
    %title 
      Cucubic 3D Interface
    %link{:type=>"text/css", :href=>"/development-bundle/themes/base/jquery.ui.all.css", :rel=>"stylesheet"}
    %link{:type=>"text/css", :href=>"/css/style.css", :rel=>"stylesheet"}
    %script{:type=>"text/javascript", :src=>"/js/externalLibs/jquery-1.6.2.min.js"}    
  %body
    Hello
    %script{:type=>"text/javascript", :src=>"/js/externalLibs/Tween.js"}
    %script{:type=>"text/javascript", :src=>"/js/externalLibs/Three.js"}
    %script{:type=>"text/javascript", :src=>"/js/externalLibs/RequestAnimationFrame.js"}
    %script{:type=>"text/javascript", :src=>"/js/externalLibs/Stats.js"}
    %script{:type=>"text/javascript", :src=>"/js/externalLibs/microcache.js"}
    %script{:type=>"text/javascript", :src=>"/js/externalLibs/THREEx.WindowResize.js"}
    %script{:type=>"text/javascript", :src=>"/js/externalLibs/DAT.GUI.min.js"}

    %script{:type=>"text/javascript", :src=>"/fonts/helvetiker_regular.typeface.js"}
    %script{:type=>"text/javascript", :src=>"/fonts/gentilis_regular.typeface.js"}


    
    %script{:type=>"text/javascript", :src=>"/js/cucubic/CubeManager.js"}        

    %script{:type=>"text/javascript", :src=>"/js/cucubic/Activities/CubeSelectionActivity.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Activities/BuildCubeActivity.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/CameraMovement.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Factory.js"}
    
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Datatypes/OLAPCube.js"}                       
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Datatypes/Dimension.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Datatypes/Hierarchy.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Datatypes/Level.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Datatypes/Member.js"}

    %script{:type=>"text/javascript", :src=>"/js/cucubic/VisualComponents/Navigator.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/VisualComponents/QueryBuilder.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/VisualComponents/Cubic.js"} 
    
    
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Util/ScreenUtil.js"}         
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Util/MaterialUtil.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Util/Util.js"}      
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Util/TextureUtil.js"} 
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Util/SceneUtil.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/Util/TweenUtil.js"}
    %script{:type=>"text/javascript", :src=>"/js/cucubic/javascriptExtensions.js"}
           
    :javascript
            
      var container, stats;

      var renderer;

      var cubeManager; 

      var canvasWidth  = window.innerWidth;
      var canvasHeight = window.innerHeight;

      var targetRotation = 0;
      var targetRotationOnMouseDown = 0;

      var mouseX = 0;
      var mouseXOnMouseDown = 0;

      var windowHalfX = window.innerWidth / 2;
      var windowHalfY = window.innerHeight / 2;

      var urlParams = window.location.href.split("/");

      var TOOGLEFLAG = 1;

      var rot     = 0xED5C2D;
      var grau    = 0xF1EFD8;
      var blau    = 0x007A6F;
      var violett = 0x007A6F;
      var gelb    = 0xcda869;
      var senf    = 0xCED73E;


      init();
      animate();
      startCucubic();

      function init() {
        

        // Configure application
        container = document.createElement( 'div' );
        document.body.appendChild( container );

        var sceneUtil  = new CUBE.SceneUtil(new THREE.Scene());    
        var projector  = new THREE.Projector();
        var camera     = new CUBE.Factory.createCamera(4000 ,60, canvasWidth, canvasHeight, 1, 20000);
        var screenUtil = new CUBE.ScreenUtil(canvasWidth, camera, 60, canvasWidth/ canvasHeight );
        var tweenUtil  = new CUBE.TweenUtil();
        var gui        = null; //new DAT.GUI();
        var light      = null; //new THREE.DirectionalLight( 0xffff00 );
        renderer       = new THREE.WebGLRenderer( { antialias: true } );
            
        renderer.setSize( canvasWidth, canvasHeight );
        renderer.domElement.style.border = "2px solid black";
        renderer.domElement.style.backgroundColor = "#F1EFD8";
        renderer._microCache = new MicroCache();


        cubeManager = new CUBE.CubeManager(sceneUtil, camera, projector, renderer, screenUtil, gui, light, tweenUtil);
            
        container.appendChild( renderer.domElement );

        stats = new Stats();
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.top      = '0px';
        container.appendChild( stats.domElement );

      }

      function startCucubic(){
            console.log(urlParams);
            
            // Remove protocol and hostname and blank entries
            urlParams.remove(0);
            urlParams.remove(0);
            urlParams.remove(0);
            urlParams.remove(0);

            console.log(urlParams);

            
            if ( urlParams[0] == "BuildCube" ) {

              var queryParams = [];

              for ( var i = 6; i < urlParams.length; i ++ ) {
                
                queryParams.push(urlParams[i]);
              
              }
                
              currentActivity = new CUBE.BuildCubeActivity(cubeManager, null, urlParams[1]);
              currentActivity.init(queryParams);

              
            } else {

              currentActivity = new CUBE.CubeSelectionActivity(cubeManager);
              currentActivity.init(["Calls","Demo 1","Demo 2","Demo 3","Demo 4","Demo 5","Demo 6"]);

            }

      }

      //

      function animate() {

        requestAnimationFrame( animate );
        TWEEN.update();
        render();
        stats.update();

      }

      function render() {
        renderer.render( cubeManager.sceneUtil.scene, cubeManager.camera );

      }
